{% extends 'base.html' %}


{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Make a Donation</h4>
      </div>
      <div class="card-body ">


        <form>
          <div class="form-group">
            <label for="item_name">Item Name</label>
            <input type="text" class="form-control" id="item_name" placeholder="Enter item name">
          </div>
          <div class="form-group">
            <label for="item_description">Item Description</label>
            <textarea type="text" class="form-control" id="item_description" rows="3"
              placeholder="Description"></textarea>
          </div>

          <div class="form-group">
            <label for="item_weight">Weight</label>
            <input type="text" class="form-control" id="item_weight" placeholder="Enter item estimated weight">
          </div>

          <div class="form-group">
            <label for="item_dimension">Item Dimension</label>
            <input type="text" class="form-control" id="item_dimension" placeholder="Enter Item Dimension">
          </div>

          <div class="form-group">

            <div class="form-row">




              <div class="col">
                <label for="exampleFormControlSelect2">Start Time</label>
                <input type="text" class="form-control" id="dasdasds" placeholder="time window" list="exampleList">
                <datalist id="exampleList">
                 <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thrursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
                </datalist>
              </div>



              <div class="col">
                <label for="exampleFormControlSelect2">Start Time</label>
                <input type="text" class="form-control" id="start_time" placeholder="time window">
              </div>
              <div class="col">
                <label for="exampleFormControlSelect2">End Time</label>
                <input type="text" class="form-control" id="end_time" placeholder="time window">
              </div>
            </div>
            <div class="row float-right">
              <div class="float-right">
                <button type="button" class="btn "><i class="material-icons mr-1">add_circle_outline</i></button>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>



      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}

<script>
  var picker = new AppointmentPicker(document.getElementById('start_time'), {
    interval: 60,
    mode: '12h',
    minTime: 06,
    maxTime: 20,
    startTime: 06,
    endTime: 20,
  });

  var picker = new AppointmentPicker(document.getElementById('end_time'), {
    interval: 60,
    mode: '12h',
    minTime: 06,
    maxTime: 20,
    startTime: 06,
    endTime: 20,
  });

</script>

{% endblock script %}
