{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Make a Donation</h4>
      </div>
      <div class="card-body ">
        <form id="donation_form">
          <div class="form-group">
            <label for="item_name">Item Name</label>
            <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Enter item name">
          </div>
          <div class="form-group">
            <label for="item_address">Pickup Address</label>
            <input type="text" class="form-control" id="item_address" name="item_address" placeholder="Enter pickup address">
          </div>
          <div class="form-group">
            <label for="item_description">Item Description</label>
            <textarea type="text" class="form-control" id="item_description" rows="3" name="item_description"
              placeholder="Description"></textarea>
          </div>
          <div class="form-group">
            <label for="item_weight">Weight</label>
            <input type="text" class="form-control" id="item_weight" name="item_weight"
              placeholder="Enter item estimated weight">
          </div>
          <div class="form-group">
            <label for="item_dimension">Item Dimension</label>
            <input type="text" class="form-control" id="item_dimension" name="item_dimension"
              placeholder="Enter Item Dimension">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="example">Weekday</label>
                <select name="example" id="week_day">
                  <option disabled selected> -- </option>
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thrursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
                </select>
              </div>
              <div class="col">
                <label for="exampleFormControlSelect2">Start Time</label>
                <input type="text" class="form-control" id="start_time" placeholder="HH:MM">
              </div>
              <div class="col">
                <label for="exampleFormControlSelect2">End Time</label>
                <input type="text" class="form-control" id="end_time" placeholder="HH:MM">
              </div>
            </div>
            <div class="row float-right">
              <div class="float-right">
                <button type="button" class="btn " onclick="addRow()"><i
                    class="material-icons mr-1">add_circle_outline</i></button>
              </div>
            </div>
          </div>
          <div class="form-group" id="selected_times">
            <div class="form-row">
              <table class="table" id="table">
              </table>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}

<script>
  var picker = new AppointmentPicker(document.getElementById('start_time'), {
    interval: 60,
    mode: '12h',
    minTime: 06,
    maxTime: 20,
    startTime: 06,
    endTime: 20,
  });

  var picker = new AppointmentPicker(document.getElementById('end_time'), {
    interval: 60,
    mode: '12h',
    minTime: 06,
    maxTime: 20,
    startTime: 06,
    endTime: 20,
  });

  var removeRow = function (element) {
    console.log(element);
    $("#" + element).parents("tr").remove();
  };

  var id = 0;

  var addRow = function () {
    var week_day = $("#week_day").val();
    var start_time = $("#start_time").val();
    var end_time = $("#end_time").val();
    id = id + 1
    var markup = "<tr><td>" + week_day + "</td><td>" + start_time + "</td><td>" + end_time + "</td> <td><button id=" +
      id +
      " type='button' class='btn'  onclick='removeRow(this.id)'><i class='material-icons mr-1'>remove_circle_outline</i></button></td> </tr>";
    $("#table").append(markup);
    $('#start_time').val("");
    $('#end_time').val("");
  };

  var dict = {
    FirstName: "Chris",
    "one": 1,
    1: "some value"
  };

  $(document).ready(function () {
    $('#donation_form').on('submit', function (event) {
      event.preventDefault();
      create_donation();
    });
  });

  var create_donation = function () {

    if ($("#table > tr").length == 0) {
      $.notify({
        message: 'Dont forget to add available times schedulle'
      }, {
        type: 'danger',
        offset: 20
      });
      return;
    }

    donated_item_name = $("#item_name").val();
    donated_item_description = $("#item_description").val();
    donated_item_weight = $("#item_weight").val();
    donated_item_dimension = $("#item_dimension").val();

    donated_item_address = $("#item_address").val();

    transport_order_day = []
    transport_order_start_time = []
    transport_order_end_time = []

    $("#table > tr").each(function () {
      transport_order_day.push($(this).find('td').eq(0).text());
      transport_order_start_time.push($(this).find('td').eq(1).text());
      transport_order_end_time.push($(this).find('td').eq(2).text());
    });

    $.ajax({
      url: "/donation/",
      type: "POST",
      data: {
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'donated_item_name': donated_item_name,
        'donated_item_description': donated_item_description,
        'donated_item_weight': donated_item_weight,
        'donated_item_dimension': donated_item_dimension,
        'donated_item_address': donated_item_address,
        'transport_order_day': transport_order_day,
        'transport_order_start_time': transport_order_start_time,
        'transport_order_end_time': transport_order_end_time
      },
      success: function (json) {
        location.reload();
      },
      error: function (xhr, errmsg, err) {

      }
    });
  };

</script>

{% endblock script %}
