{% extends "base.html" %}
{% load static i18n %}

{% block top_section %}
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        {% comment %} <p class="upper_text">Connected hearts</p> {% endcomment %}
        <h2 id="counter">+1000</h2>
        <p>
          That don't lights. Blessed land spirit creature divide our made two
          itself upon you'll dominion waters man second good you they're divided upon winged were replenish night
        </p>
        <a class="primary_btn mr-20" href="/donation">Donate Now</a>
        <a class="primary_btn yellow_btn text-white" href="transport_order/assign_driver">Volunteer</a>
      </div>
    </div>
  </div>
</section>


<!--================ Start Features Cause section =================-->
<br>
<section class="features_causes">
  <div class="container">
    <div class="main_title">
      <h2>Current Campaigns</h2>
      
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <figure>
              <img class="card-img-top img-fluid" src="{% static 'img/features/fc1.jpg' %}" alt="Card image cap">
            </figure>
            <div class="card_inner_body">
              <h4 class="card-title">Education for every child</h4>
              <p class="card-text">
                Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.
              </p>

              <div class="d-flex justify-content-between donation align-items-center">
                <a href="#" class="primary_btn">donate</a>
                <p><span class="lnr lnr-heart"></span> 90 Donors</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <figure>
              <img class="card-img-top img-fluid" src="{% static 'img/features/fc2.jpg' %}" alt="Card image cap">
            </figure>
            <div class="card_inner_body">
              <h4 class="card-title">Feeding the hungry people</h4>
              <p class="card-text">
                Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.
              </p>

              <div class="d-flex justify-content-between donation align-items-center">
                <a href="#" class="primary_btn">donate</a>
                <p><span class="lnr lnr-heart"></span> 90 Donors</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <figure>
              <img class="card-img-top img-fluid" src="{% static 'img/features/fc3.jpg' %}" alt="Card image cap">
            </figure>
            <div class="card_inner_body">
              <h4 class="card-title">Providing cloth people</h4>
              <p class="card-text">
                Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.
              </p>

              <div class="d-flex justify-content-between donation align-items-center">
                <a href="#" class="primary_btn">donate</a>
                <p><span class="lnr lnr-heart"></span> 90 Donors</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Features Cause section =================-->



<!--================ Start CTA Area =================-->
<div class="cta-area section_gap overlay">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <h1>Become a volunteer</h1>
        <p>
          So seed seed green that winged cattle in. Gathering thing made fly you're
          divided deep leave on the medicene moved us land years living.
        </p>
        <a href="#" class="primary_btn yellow_btn rounded">join with us</a>
      </div>
    </div>
  </div>
</div>
<!--================ End CTA Area =================-->



<div class="footer-bottom">
  <div class="container">
    <div class="row d-flex">
      <p class="col-lg-12 footer-text text-center">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>
          document.write(new Date().getFullYear());

        </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>
</div>

{% endblock top_section %}


{% block script %}
<script>

  var current_value = 1000;

  var add_value = function () {
    random_value = parseInt((Math.random() * 10), 10) + 1;
    current_value = current_value + random_value;
    $("#counter").text("+ " +  current_value + " Connected hearts");
  }

  $(document).ready(function () {

    $("#counter").text("+ " +  current_value + " Connected hearts");
    setInterval(function () {
      add_value()
    }, 2000)
  });

</script>
{% endblock script %}
